.add-products .MuiAccordion-root.Mui-expanded,
.add-products .MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
}

.add-products .subcategory-title {
  background: #e0e0e0;
  margin: 0;
  padding: 10px;
}

.add-products .product-quantity {
  max-width: 75px;
}

.add-products .product-controls {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.add-products .product-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
